<div class="task-list-container">
  <h3>Tasks for {{ selectedDate?.toFormat('dd MMMM yyyy') }}</h3>

  <div class="task-controls">
    <button class="sort" (click)="sortTasks(true)">Sort by First Letter (Asc)</button>
    <button class="sort" (click)="sortTasks(false)">Sort by First Letter (Desc)</button>
  </div>

  <ul>
    <li *ngFor="let task of filteredTasks; let i = index">
      {{ task.title }} - Priority: {{task.priority}}
      <button id="edit-btn" (click)="openEditDialog(task)">Edit</button>
      <button id="delete-btn" (click)="removeTask(task.id)">Delete</button>
    </li>
  </ul>
  <button id="add-btn" (click)="openDialog()">Add task</button>
</div>
