<div class="calendar">
  <div class="calendar-header">
    <div id="previous-btns">
      <button (click)="previousYear()">Previous Year</button>
      <button (click)="previousMonth()">Previous Month</button>
    </div>
    <span>{{ firstDayOfMonth.toFormat('MMMM yyyy') }}</span>
    <div id="next-btns">
      <button (click)="nextMonth()">Next Month</button>
      <button (click)="nextYear()">Next Year</button>
    </div>
  </div>

  <div class="calendar-body">
    <div class="days-of-week">
      <div id="weeks" *ngFor="let day of weekDays">{{ day }}</div>
    </div>
    <div class="days-of-month">
      <div id="days"
           *ngFor="let day of daysOfMonth"
           [class.selected]="selectedDate?.hasSame(day, 'day')"
           [class.today]="day.hasSame(today,'day')"
           (click)="selectDay(day)"
            [ngClass]="{'other-month': !currentMonth(day)}">
        {{ day.day }}
        <div id="tasks-day" *ngIf="hasTasks(day)"></div>
      </div>
    </div>
  </div>

  <div class="task-list">
    <app-task-list [tasks]="tasks" [selectedDate]="selectedDate" (taskAdded)="addTask($event)"></app-task-list>
  </div>
</div>
