.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-content {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.dialog-content label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.dialog-content input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px; /* Rounded corners */
  box-sizing: border-box;
  font-size: 16px;
}

.validation {
  font-size: 14px;
  margin-top: -5px;
  margin-bottom: 10px;
  color: red;
}

.dialog-content button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

.dialog-content button[type="submit"] {
  background-color: #28a745;
  color: #fff;
}

.dialog-content button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.dialog-content button[type="button"] {
  background-color: #dc3545;
  color: #fff;
}

#entertainment {
  color: rgb(22, 224, 22);
  font-weight: 700;
}

#regular {
  color: orange;
  font-weight: 700;
}

#mandatory {
  color: red;
  font-weight: 700;
}
